.description {
  padding: 1rem;
  text-align: center;

  h1 {
    font-size: 38px;
    margin: 2rem 0 3rem 0;
  }

  p {
    font-size: 20px;
  }
}

.main-content {
  padding: 1rem;
  margin: 1rem 0;
  background-color: #fffefa;

  @media (min-width: 750px) {
    box-shadow: 0 4px 4px 0 rgba(#3b3b3b, 0.15);
    border-radius: 0.25rem;
  }
}

.restaurants-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.search-bar {
  width: 19rem;
  height: 2.5rem;
  margin: 1.5rem auto;
  position: relative;

  img {
    position: absolute;
    top: 0.75rem;
    left: 0.5rem;
    width: 1rem;
    height: 1rem;
    margin-bottom: 0;
    z-index: 2;
  }

  input {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding-left: 1.75rem;
    width: 100%;
    border: 0;
    border-radius: 0.25rem;
    border: 1px solid #d3d3d3;
  }
}
